// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.logo-sidemenu{    
    height: 90pt;
    margin-top: 10pt;
}

.background-purple{
    background-color: #5e2cb3;
    color:#fff
}

.toolbar-background-md {
    border-color: #4c1aa0;
    background-color: #5e2cb3;
    color:#fff
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color:#fff;
    background-color: transparent;
}

.text-white{
    color:#fff
}